@page "/MSPTiers/Delete/{Id:int}"
@using PriceCalculator.App.Model
@using System.Text.Json.Nodes
@using PriceCalculator.App.Services

@inject MSPTierService MSPTierService
@inject NavigationManager navManager

<h1 class="mb-5">Delete</h1>
<p>Are You Want To Delete MSPTier</p>
<button class="btn btn-danger" @onclick="DeleteMSP">Delete</button>
@code {
    [Parameter]
    public int Id { set; get; }
    protected async Task DeleteMSP()
    {
        try
        {
        await MSPTierService.DeleteMSPTierAsync(Id);

                // Redirect to the MSP Tiers list page after successful update
                navManager.NavigateTo("/MSPTiers");
           
        }
        catch (Exception ex)
        {
            Console.WriteLine("An error occurred while saving: " + ex.Message);
        }
    }

}
